# editorconfig.org
# spec.editorconfig.org

# Must be specified in the preamble. Set to true to tell the core not to check
# any higher directory for EditorConfig settings for on the current filename.
# The value is case-insensitive.
root = true

[*]
# Set to latin1, utf-8, utf-8-bom, utf-16be or utf-16le to control the
# character set. Use of utf-8-bom is discouraged.
charset = utf-8

# Set to lf, cr, or crlf to control how line breaks are represented. The values
# are case insensitive.
# NOTE: Applies on save.
end_of_line = lf

# Set to a whole number defining the number of columns used for each
# indentation level and the width of soft tabs (when supported). If this equals
# tab, the indent_size shall be set to the tab size, which should be tab_width
# (if specified); else, the tab size set by the editor. The values are case
# insensitive.
indent_size = 4

# Set to tab or space to use tabs or spaces for indentation, respectively.
# Option tab implies that an indentation is to be filled by as many hard tabs
# as possible, with the rest of the indentation filled by spaces. A
# non-normative explanation can be found in the indentation_ section. The
# values are case insensitive.
indent_style = space

# Set to true ensure file ends with a newline when saving and false to ensure
# it doesn’t. Editors must not insert newlines in empty files when saving those
# files, even if insert_final_newline = true.
# NOTE: Applies on save.
insert_final_newline = true

# Sets the natural language that should be used for spell checking. Only one
# language can be specified. There is no default value.

# The format is ss or ss-TT, where ss is an ISO 639 two-letter language code
# and TT is an ISO 3166 two-letter territory identifier. (Therefore
# spelling_language must be either two or five characters long.)

# Note: This property does not specify the charset to be used. The charset is
# in separate property charset.
spelling_language = en-US

# Set to a whole number defining the number of columns used to represent a tab
# character. This defaults to the value of indent_size and should not usually
# need to be specified.
# tab_width = 4 # Defaults to `indent_size`

# Set to true to remove all whitespace characters preceding newline characters
# in the file and false to ensure it doesn’t.
# NOTE: Applies on save.
trim_trailing_whitespace = true

[*.md]
# Set to true to remove all whitespace characters preceding newline characters
# in the file and false to ensure it doesn’t.
# NOTE: Markdown file syntax requires additional whitespace at end of lines for
# some layout configurations
trim_trailing_whitespace = false
